DB_NAME=db-name
DB_USER=db-user
DB_PASSWD=your-pass-here
ROMM_AUTH_SECRET_KEY=your-key-here
SCREENSCRAPER_USER=your-username-here
SCREENSCRAPER_PASSWORD=your-pass-here
ROMM_PRIVATE_IP=192.168.1.x
ROMM_DB_PRIVATE_IP=192.168.1.x
MARIADB_ROOT_PASSWORD=your-pass-here